{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/loginx.css' %}">
</head>
<body style="background-color:#043d28;">
  <div class="wrapper">
    <h1>Login</h1>
    <form method="POST">
      {% csrf_token %}
      
      <!-- Username input -->
      <div class="input-box">
          <label for="id_login">Username:</label>
          <input type="text" name="login" id="id_login" placeholder="Username" required>
      </div>
      
      <!-- Password input -->
      <div class="input-box">
          <label for="id_password">Password:</label>
          <input type="password" name="password" id="id_password" placeholder="Password" required>
      </div>
      
      <!-- Login button -->
      <button class="btn" type="submit">Login</button>
    </form>

    <div class="register-link">
      <p>Don't have an account? <a href="{% url 'account_signup' %}">Sign-up</a> </p>
    </div>
  </div>
</body>
</html>
