*{/*stuff for all the nuances in this pain*/
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

/*the body*/
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(sign_up_image.JPG) no-repeat;
    background-size: cover;
    background-position: center;

}

/*for the major box*/
.wrapper{
    width: 350px;
    background: transparent;
    border: 2px solid darkslategrey ;
    backdrop-filter: blur(25px) ;
    color: white;
    border-radius: 12px;
    padding: 30px 40px;
}

/*icon's colors*/
.wrapper i{
    color: goldenrod;
}

/*for when hovering cursor over the button*/
.wrapper .btn:hover{
    width: 100%;
    height: 45px;
    background: lightyellow;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size: 16px;
    color: green;
    font-weight: 600;
}

/*for the LOGIN - heading*/
.wrapper h1{
    font-size: 36px;
    text-align: center;
    color: white;
}

/*for the type in stuff boxies*/
.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    /*background: yellow;*/
    margin: 30px 0;
}

/*for the styling the boxies*/
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: antiquewhite;
    padding: 20px 45px 20px 20px;
}

/*for the placeholders in the input boxies*/
.input-box input::placeholder{
    color:aliceblue;

}

/*for the input boxie's icons*/
.input-box i{
   position: absolute; 
   right: 20px;
   top: 30%;
   transform: translate(-50%);
   font-size: 20px;
}

/*for the remember me  + forgot password*/
.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;

}
/*for the remember me  + forgot password*/
.remember-forgot label input{
    accent-color: aliceblue;
    margin-right: 3px;

}

/*for the forgot password link*/
.remember-forgot a{
    color: aliceblue;
    text-decoration: none;

}
/*for the forgot password link when curson on it*/
.remember-forgot a:hover{
    color: palevioletred;
    text-decoration: underline;
}

/*for the login button*/
.wrapper .btn{
    width: 100%;
    height: 45px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}


/*for the to resigister stuff*/
.wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}


/*for the to sign up link*/
.register-link p a{
    color: aliceblue;
    text-decoration: none;    
}
/*for the to sign up link when mouse touched*/
.register-link p a:hover{
    color: palevioletred;
    text-decoration: underline;
}
