<!-- event_detail.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ event.title }}</title>
</head>
<body>
    <a href="{% url 'all_calendar_events' %}">
        <button>Go to Calendar</button>
    </a>
    <h1>{{ event.name }}</h1>
    <p>{{ event.description }}</p>
    <p>Created by: {{ event.user.username }}</p>
    <p>Creation Date: {{ event.creation_date }}</p>
    <p>Event Date: {{ event.event_date }}</p>
    <p>Description: {{ event.description }}</p>
    <p>Number of RSVPs: {{ rsvp_count }}</p>
    {% if user.is_authenticated %}
    {% if user == event.user %}
        <a href="{% url 'edit_calendar_event' slug=event.slug %}">
            <button>Edit Event</button>
        </a>
    {% endif %}
    {% endif %}
    {% if messages %}
        <div class="success-message">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}
    {% if not user_rsvped %}
    <form method="POST">
        {% csrf_token %}
        <button type="submit" name="rsvp">RSVP for {{ event.event_date }}</button>
    </form>
{% else %}
    <form method="POST">
        {% csrf_token %}
        <button type="submit" name="unrsvp">Un-RSVP for {{ event.event_date }}</button>
    </form>
{% endif %}
</body>
</html>
