<!-- all_resource_posts.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Resource Posts</title>
</head>
<body>
    <h1>All Resource Posts</h1>
    {% if user.is_authenticated and user.is_staff %}
        <a href="{% url 'create_resource_post' %}">Create Resource</a>
    {% endif %}
    {% for post in posts %}
        <div>
            <h2>{{ post.title }}</h2>
            <p>Posted by: {{ post.user.username }}</p>
            <p>Date: {{ post.created_at }}</p>
            <a href="{% url 'resource_post_detail' slug=post.slug %}">View Details</a>
        </div>
        <hr>
    {% endfor %}

</body>
</html>
