<!-- resource_post_detail.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resource Post Detail</title>
</head>
<body>
    <a href="{% url 'all_resource_posts' %}">
        <button>Go to Reasources Page</button>
    </a>
    <h1>{{ post.title }}</h1>
    <p>Posted by: {{ post.user.username }}</p>
    <p>Date: {{ post.created_at }}</p>
    <p>{{ post.body |safe}}</p>
    <a href="{% url 'edit_resource_post' slug=post.slug %}">Edit Resource</a>
    <a href="{% url 'all_resource_posts' %}">Back to All Resource Posts</a>
</body>
</html>
